# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

## Objective:
- List popular languages for Data Science
- List commonly used libraries 
- List commoly used tools
- Examples of evaluating arithmetic expressions in Python

### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

### Some of the commonly used libraries used by Data Scientists include:
1. NumPY
2. Pandas
3. Matplotlib

| Data Science Tools | 
| ------------------ |
| Jupiter Notebook |
| RStudio |
| Apache Zeppelin |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
#  This will convert 200 minutes to hours by diving by 60
print(f' 200 minutes equals to {(200/60)} hours')

 200 minutes equals to 3.3333333333333335 hours

## Author
Victor Ndayambaje